body{
    background: #007fc7;
}

#container{
    background: #FFF;
    width: 800px;
    margin: 10px auto;
}

h1{
    position: static;
}

p{
    position: static;
    width: 300px;
    padding: 10px;
}

.relative{
    border: 1px solid red;
    position: relative;
    top: 20px;
    left: 80px;
}

.absolute{
    border: 1px solid red;
    position: absolute;
    top: 0px;
    right: 20px;
    background: #f2f2f2;
}